{% load static %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редактировать</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row row-cols-2">
                    <div class="col col-2">
                        <ul class="nav flex-column navbar-light bg-light">
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/accounts/profile/change_password/' %} active {% endif %}"
                                   href="{% url 'change_password' %}">Изменить
                                    пароль профиля</a>
                            </li>
                            <li class="nav-item">
                                <a id="logoutBtn"
                                   class="nav-link {% if request.path == '/accounts/logout/' %} active {% endif %}"
                                   aria-current="page"
                                   href="{% url 'logout' %}">Выйти с аккаунта</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Закрыть
                </button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/logout.js' %}">
</script>