<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<script>
    $.ajax({
        url: 'http://localhost:8000/api/v1/login/',
        method: 'post',
        data: JSON.stringify({username: 'admin', password: 'admin'}),
        dataType: 'json',
        contentType: 'application/json',
        success: function (response, status) {
            localStorage.setItem('apiToken', response.token);
        },
        error: function (response, status) {
            console.log(response);
        }
    });

    $.ajax({
     url: 'http://localhost:8000/api/v1/posts/',
     method: 'get',
     headers: {'Authorization': 'Token ' + localStorage.getItem('apiToken')},
     data: JSON.stringify({username: 'admin', password: 'admin'}),
     dataType: 'json',
     contentType: 'application/json',
     success: function(response, status){console.log(response);},
     error: function(response, status){console.log(response);}
});





</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>