{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="article-div infinite-item" name="{{ post.id }}"
         style="display: flex; justify-content: space-around; flex-direction: column">
        <div class="container-sm" style="display: flex; justify-content: space-between; flex-direction: row">
            <a style="text-decoration: none; color: black"
               href="{% url 'profile' post.author.pk %}">
                <img class="avatar" src="{{ post.author.profile.avatar.url }}"
                     width="50" height="50" alt="user picture" style="border-radius: 100%">
                {{ post.author }}
            </a>
            <a style="text-decoration: none; color: black; text-align: right"
               href="{% url 'detail_post' post.pk %}"></a>
            <!-- Button trigger modal -->
            {% if post.author == request.user %}
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editPost">
                    <img src="{% static 'images_common/more_detail.svg' %}" alt="">
                </button>
            {% endif %}
            {% include 'common/delete_modal_post.html' %}
        </div>


        <img class="post-img" src="{{ post.photo.url }}">

        <small class="text-muted">{{ post.created_at|date:"F d, Y" }}
        </small>
        <div class="post-applause">
            <span class="badge badge-secondary">{{ post.likes.count }} likes</span>
        </div>

    </div>
    <div>
        <form action="{% url 'like_post' post.pk %}"
              method="POST" id="postLikes">
            {% csrf_token %}
            <input hidden value="{{ request.user.pk }}" id="user_id">
            <button type="submit" name="post_id" id="post_id"
                    value="{{ post.id }}"
                    style="border: none; background-color: white">
                <img class="like" id="like_icon" src="{% static "images_common/like_white.png" %}" style="width: 40px"
                     alt="..."></button>
            <span id="count">{{ post.post_likes.count|default:0 }}</span> Нравится
        </form>

    </div>

    <div>
        {{ post.text }}
    </div>

    <div>
        <form action="{% url 'create_comment' post.pk %}" method="POST">
            {% include "partial/comment/comment_form.html" with button_text='Опубликовать' %}
        </form>


        {% if post.comments %}
            {% include "partial/comment/comment_list.html" with comments=post.comments.all %}

        {% endif %}
    </div>
    <script type="application/javascript" src="{% static 'js/detail_like.js' %}">
    </script>
{% endblock %}








