{% extends 'base.html' %}
{% load static %}


{% block content %}



    <div class="article-div infinite-item" name="{{ post.id }}"
         style="display: flex; justify-content: space-around; flex-direction: column">
        <div class="container-sm" style="display: flex; justify-content: space-between; flex-direction: row">
            <a style="text-decoration: none; color: black"
               href="{% url 'profile' post.author.pk %}"><img class="avatar"
                                                              src="{{ post.author.profile.avatar.url }}"
                                                              width="50" height="50"
                                                              alt="user picture"
                                                              style="border-radius: 100%"> {{ post.author }}
            </a>
            <a style="text-decoration: none; color: black; text-align: right"
               href="{% url 'detail_post' post.pk %}"></a>
            <!-- Button trigger modal -->
            {% if post.author == request.user %}
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editPost">
                    <img src="{% static 'images_common/more_detail.svg' %}" alt="">
                </button>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="editPost" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <button data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    class="btn btn-outline-danger">Удалить
                            </button>
                            {% include 'common/delete_modal.html' with deleted_object=post %}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <img class="post-img" src="{{ post.photo.url }}">

        <small class="text-muted">{{ post.created_at|date:"F d, Y" }}
        </small>
        <div class="post-applause">
            <span class="badge badge-secondary">{{ post.likes.count }} likes</span>
        </div>

    </div>
    <div>
        <form action="{% url 'like_post' post.pk %}"
              method="POST" id="postLikes">
            {% csrf_token %}
            <input hidden value="{{ request.user.pk }}" id="user_id">
            <button type="submit" name="post_id" id="post_id"
                    value="{{ post.id }}"
                    class="btn btn-danger btn-sm">
                <i class="fi-xnsuxl-heart"></i></button>
            Оценили - {{ post.post_likes.count }}
        </form>

    </div>

    <div>
        {{ post.text }}
    </div>

    <div>
        <form action="{% url 'create_comment' post.pk %}" method="POST">
            {% include "partial/comment/comment_form.html" with button_text='Опубликовать' %}
        </form>


        {% if post.comments %}
            {% include "partial/comment/comment_list.html" with comments=post.comments.all %}

        {% endif %}
    </div>

{% endblock %}








