{% load static %}
<div style="display: flex; flex-wrap: wrap;">
        {% for post in posts %}
            <div class="card" style="width: 22rem; margin: 5px">
                <div class="card-body">
                    <h5 class="card-title">{{ post.author }}</h5>
                    <div style="display: flex">
                    <img style="width: 30%" src="{{ post.photo.url }}" alt="">
                    <div>

                    <p class="card-text">Дата публикации {{ post.created_at|date:'d F Y' }}</p>
                    <p class="card-text">Время публикации {{ post.created_at|date:'G:i' }}</p>
                    <p class="card-text">Оценили: {{ post.likes.count|default:0 }}</p>
                    <a href="{% url 'detail_post' post.pk %} " class="card-link">Подробнее</a>
                </div>
            </div>

                    <img style="width: 100%" src="{{ post.photo.url }}" alt="">
                    </div>
                    </a>
                    <div>
                         <p class="nav-link"><img src="{% static 'images_common/favorite.svg' %}" alt="" width="60" height="40"
                        class="d-inline-block align-text-top">{{ post.likes.count|default:0 }}</p>
                        </div>
            </div>
        </div>
    {% endfor %}
</div>


