{% load static %}
<div style="display: flex; flex-wrap: wrap;">
        {% for post in posts %}
            <div class="card"  style="width: 22rem; margin: 5px">

                    <a href="{% url 'detail_post' post.pk %} " class="card-link">
                        <div class="card-body">

                    <div style="display: flex">
                    <img style="width: 100%" src="{{ post.photo.url }}" alt="">
                    </div>
                    </a>
                    <div>
                         <p class="nav-link"><img src="{% static 'images_common/favorite.svg' %}" alt="" width="60" height="40"
                        class="d-inline-block align-text-top">{{ post.likes.count|default:0 }}</p>
                        </div>
            </div>
        </div>
    {% endfor %}
</div>