{% load static %}


  <div class="infinite-container" style="display: flex; justify-content: space-around; flex-direction: column; align-items: center" >

    {% for post in posts %}
    <div class="article-div infinite-item" name="{{post.id}}"style="display: flex; justify-content: space-around; flex-direction: column">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2"
                 href="{% url 'profile' post.author.pk %}">{{ post.author }}
              </a>
              <small class="text-muted">{{ post.created_at|date:"F d, Y" }}
              </small>
            </div>
            <div class="img-heading-wrap">
              <div class="article-post-img">
                <img class="post-img" src="{{post.image_thumbnail.url}}">
              </div>

            </div>
            <a class="read-more" href="{% url 'detail_post' post.pk %}"><small>Подробнее</small></a>
            <div class="post-applause">
              <span class="badge badge-secondary">{{post.likes.count}} likes</span>
            </div>
          </div>
        </article>
      </div>

    {% endfor %}

  </div>
